@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("../fonts/BebasNeueRegular.otf");
}
@font-face {
  font-family: BebasNeue;
  font-weight: lighter;
  src: url("../fonts/BebasNeueBook.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url("../fonts/OpenSans.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: lighter;
  src: url("../fonts/OpenSansLight.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("../fonts/OpenSansBold.ttf");
}
.justify-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.justify-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.justify-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.vh-100 {
  height: 100vh;
}
.vh-50 {
  height: 50vh;
}
.upper {
  text-transform: uppercase;
}
.secondary {
  color: #c4c4c4;
}
.section-light-bg {
  background-color: #e6edf1;
}
.d-input {
  width: 45%;
}
/* MAIN */
.read-more {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 60px;
}
#about-main {
  padding-top: 15%;
  padding-bottom: 5%;
  background-image: url("../resourses/About/header-image.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
/* MEMBERS */
.member-card {
  margin-bottom: 65px;
  text-align: center;
}
.member-photo {
  padding-top: 10%;
  background-color: #e6edf1;
}
.member-name {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 38px;
  line-height: 52px;
  margin-top: 50px;
}
.member-status {
  font-family: OpenSans;
  font-weight: lighter;
  font-size: 25px;
  line-height: 34px;
  color: #c4c4c4;
  text-transform: uppercase;
  margin-top: 30px;
}
/* ACHIEVS */
.achieve-icon {
  margin: 40px 0;
}
.achieve-icon img {
  width: 40px;
  height: 48px;
}
.achieve-description {
  font-family: OpenSans;
  font-weight: lighter;
  font-size: 25px;
  line-height: 34px;
}
.achieve-details {
  text-transform: uppercase;
}
.achieve-details h1 {
  font-family: BebasNeue;
  font-weight: bold;
  font-size: 288px;
  line-height: 338px;
  color: #41bfef;
  margin-bottom: 0;
}
.achieve-details p {
  font-family: OpenSans;
  font-weight: lighter;
  font-size: 38px;
  line-height: 52px;
  color: #41bfef;
}
/* HOWITWORKS */
.process-wrapper {
  background-color: #41bfef;
  padding: 300px 70px;
}
