// sudo stylus --watch  stylus --out ./

body 
    overflow-x: hidden
h2 
    BebasH3()
    text-transform uppercase

h1  
    OpenH1()
    margin: 15px 0
    &.lead
        OpenH1ExtraBold()
        color: #464646
    &.super
        BebasH2()
span 
    color: acsent

span.small 
    color: inherit 
    font-size 14px

hr   
    border-color: secondary

p
    OpenH1LightAlt()
    margin-bottom: 5px
    color: black
    &.lead
        OpenH1Light()
    &.small
        OpenH4Light()
a
    OpenH1LightAlt()
    text-decoration none
    color: black
    &:hover
        color: acsent !important
li  
    OpenH1LightAlt()

img 
    max-width 100%

div[class^=col-] .row,
    margin-left: 0
    margin-right: 0

object 
    margin: 10px

section 
    position relative
    padding-top: 100px
    padding-bottom 100px 
    &[id$=header]
        box-shadow: inset 0 1500px 0 rgba(0,0,0,0.3)

section.jumbotron 
    padding: 0 10px
    margin-bottom: 70px
    border: 1px solid secondaryDark
    & div.row 
        margin-left: 0
        margin-right: 0
    & > div.head
        background-color: secondary;
        margin: 0 -10px;
        padding: 10px 20px;
    & > div.content 
        padding: 50px 0;
        & > div
            margin-top: 15px
            margin-bottom 15px
    & input, select, textarea
        border: 1px solid secondary
        padding: 10px !important
        color: black
        &::placeholder
            color: secondary
    & button 
        border-bottom: none 
        margin-top 0

.header 
    text-align center
    background-size: cover
    background-position-y: center
    & h2 
        color: white
        text-shadow: -1px -1px 0 secondaryDark, 1px -1px 0 secondaryDark, -1px 1px 0 secondaryDark, 1px 1px 0 secondaryDark;

span.lead 
    border-bottom: 2px solid acsentAlt;
    padding-bottom: 10px
    color: black

form input,
form select,
form textarea
    OpenH4Light()
    width: 100%;
    padding: 20px 0 0 0 !important
    color: secondaryDark
    border: none;
    border-bottom: 1px solid secondaryDark;
    background-color: transparent;

form > input
    margin 10px 0

form select
    height 50px

form textarea
    resize: vertical
    min-height: 50px !important

form input:focus,
form button:focus,
form select:focus,
form textarea:focus
    outline: none;

form input:focus::placeholder
    color: transparent;

form button
    OpenH4()
    background-color transparent
    border: none;
    border-bottom: 2px solid acsentAlt;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;
    outline: none

button 
    background-color transparent
    border: none;
    cursor: pointer;
    outline: none
    &.lead
        OpenH4()
        color white
        background-color acsent
        border-bottom: none
        border-radius: 22.5px
        padding: 10px
        width 100%
        margin: 30px 0

.stars .star {
  float: left;
}
.stars .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars] .star polygon {
  fill: #ffd055;
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
  fill: #d8d8d8;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
  fill: #d8d8d8;
}

.comment
    text-align: justify