// sudo stylus --watch  stylus --out ./

body 
    overflow-x: hidden
h2 
    BebasH3()
    text-transform uppercase

h1  
    OpenH1()
    margin: 15px 0
    &.lead
        OpenH1ExtraBold()
        color: #464646
    &.super
        BebasH2()
span 
    color: acsent

p
    OpenH1LightAlt()
    color: black
    &.lead
        OpenH1Light()
    &.small
        OpenH4Light()
a
    OpenH1LightAlt()
    text-decoration none
    color: black
    &:hover
        color: acsent !important
li  
    OpenH1LightAlt()

img 
    width 100%

section 
    position relative
    margin auto !important
    padding-top: 100px
    padding-bottom 100px 

.header 
    text-align center
    background-size: cover
    background-position-y: center
    & h2 
        color: white
        text-shadow: -1px -1px 0 secondaryDark, 1px -1px 0 secondaryDark, -1px 1px 0 secondaryDark, 1px 1px 0 secondaryDark;

span.lead 
    border-bottom: 2px solid acsentAlt;
    padding-bottom: 10px
    color: black

form input
    OpenH4Light()
    width: 100%;
    padding-top: 20px;
    color: secondaryDark
    border: none;
    border-bottom: 1px solid secondaryDark;
    background-color: transparent;
    margin: 10px 0;

form input:focus,
form button:focus
    outline: none;

form input:focus::placeholder
    color: transparent;

form button
    OpenH4()
    background-color transparent
    border: none;
    border-bottom: 2px solid acsentAlt;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;
    outline: none

button 
    background-color transparent
    border: none;
    cursor: pointer;
    outline: none