#contacts-main
    padding-top: 15%;
    padding-bottom: 5%;
    background-image: url(../resourses/Contacts/header-image.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 550px;

.contact-form {
    margin-top: 100px;
}

/* WRITEUS */

.write-label {
    OpenH1Light()
    text-align: center;
    width 100%
}

.mail {
    OpenH1()
    color: black;
}

#writeus
    background-image: url(../resourses/LogoBlack.png);
    background-repeat: no-repeat;
    background-position: center 500px;
    background-size: 100px;

/* ADRESS */

.adress-img {
    width: 200px;
    height: 200px;
}

.adress-img img {
    width: 100%;
}

.adress {
    text-align: center;
    margin-top: 80px;
}

.tel-number {
    color: black;
    line-height 3
}