#contacts-main
    background-image: url(../resourses/Contacts/header-image.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

.contact-form {
    margin-top: 100px;
}

/* WRITEUS */

.write-label {
    text-align: center;
    width 100%
}

#writeus
    background-image: url(../resourses/LogoBlack.png);
    background-repeat: no-repeat;
    background-position: center 500px;
    background-size: 100px;

/* ADRESS */

.adress-img {
    width: 200px;
    height: 200px;
}

.adress-img img {
    width: 100%;
}

.adress {
    text-align: center;
    margin-top: 80px;
}

.tel-number {
    color: black;
    line-height 3
}