#faq-main
    background-image: url(../resourses/FAQ/header-image.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

.question
    margin: 100px 0 40px 0
    text-align center
    border-radius: 10px
    & h1
        color: white

.question-wrapper
    &:nth-child(odd) .question
        background-color acsent
    &:nth-child(even) .question
        background-color acsentAlt 

.answer p
    OpenH4Light()