.footer
    padding: 30px 0
    margin-top: 13rem
    // & li  
    //     margin: 0 2rem
    // & .info li:last-child::after
    //     display: none
    // & .info li:after
    //     content: '•'
    //     color secondary
    //     margin-left 8.333333%
    // & a
        // BebasH5()
