#gids-header
    background-image url('../resourses/Gids/header-image.png')
    background-repeat no-repeat
    background-size: cover
    & h1,h2,p,button
        color: white

.searchBox
    & > div
        padding: 0
    & input
        padding: 15px 10px
        width 100%
        OpenH4()
    & button
        padding: 15px 20px
        height 100%
        background-color acsent

.gid-card
    background-color white
    margin: 20px
    padding 0
    & div
        padding-left: 0
        padding-right 0

.gid-card .gid-description {
    padding: 40px 0;
    border-bottom: 1px secondary solid;
    border-top: 1px secondary solid;
}

.tour-preview
    height 300px
    box-shadow: inset 0 1500px 0 rgba(0,0,0,0.3)
