@media (max-width: 1200px)
    [id$=-main]
        background-size: 50% !important
    .acsent-box
        padding: 30px 50px
        & .todo-list > li:before
            margin-bottom: 40px;
    .order-fix
        order: 2
    
@media (max-width: 992px)
    .navbar  
        padding-bottom: 0 !important
    

@media (max-width: 576px)
    h1  
        font-size 24px
        &.lead
            font-size 35px
    p   
        font-size 18px
    li   
        font-size: 18px
    section 
        padding-top: 50px
        padding-bottom: 50px
    .footer 
        margin-top 3rem !important
        & a  
            font-size 18px !important
    [id$=-main]
        background: none !important
    .vh-50
        padding-top: 5vh;
        padding-bottom: 5vh;
    .acsent-box
        padding: 20px
        & .todo-list > li:before
            height: 45px;
            width: 45px;
            margin-right: 20px;