@media (max-width: 1200px)
    [id$=-main]
        background-size: 50% !important
    .acsent-box
        padding: 30px 50px
        & .todo-list > li:before
            margin-bottom: 40px;
    .order-fix
        order: 2
    p.small 
        font-size 14px
    .preloader .logo span,
    .brand
        font-size: 10rem !important
    .homepage-item .title
        font-size 35px !important
    .homepage-item-inner-title
        font-size 45px !important
    .footer 
        margin-top 3rem !important
    .steps
        & span
            margin-right 40px !important
        & li
            font-size 28px !important
    .price-popup
        top: 0 !important
    
@media (max-width: 992px)
    h1.super
        font-size 188px
        line-height 1
    .homepage-item-inner
        position: relative !important
        opacity: 1 !important
        visibility: visible !important
    .background
        min-height: 100vh !important 
    .brand
        font-size 8rem !important
        opacity 1 !important
    .homepage-item-image
        opacity: 1 !important
        visibility: visible !important
        transform: none !important
        position: absolute !important 
        z-index: 0 !important
    .homepage-item-inner-title, .homepage-item-inner-subtext-subtitle, a.homepage-item-inner-subtext-link
        opacity 1 !important
    .todo-list > li:before
        max-height 55px
        max-width 55px
        width 100%
        margin-bottom 40px
    .preloader .logo span,
    .brand
        font-size: 8rem !important
    .steps li
        font-size 24px !important
    .profile-nav
        margin-bottom: 40px
        display flex
        flex-wrap: wrap
        & .profile-current
            border-bottom: none
    .footer
        // & .info li:after
        //     margin-left: 30px !important
        // & li  
        //     margin: 0 1rem !important
    .l-offset-mid
        margin-left: 0 !important
    .question
        font-size 18px !important

@media (max-width: 576px)
    h1  
        font-size 24px
        font-weight 600
        &.lead
            font-size 35px
        &.super
            font-size 100px
    h2  
        font-size 42px
        line-height 54px
    p, li, a   
        font-size: 18px
    section 
        padding-top: 50px
        padding-bottom: 50px
    .secondary 
        color: black
    // .footer a  
    //     font-size 18px !important
    [id$=-main]
        background: none !important
    .vh-50
        padding-top: 5vh;
        padding-bottom: 5vh;
    .vh-100
        padding-top: 25vh;
        padding-bottom: 25vh;
    .acsent-box
        padding: 20px
        & .todo-list > li:before
            max-height: 45px;
            max-width: 45px;
            margin-right: 20px;
    .mobile-nav
        & ul
            flex-direction: column;
            align-items: center;
    .brand
        font-size 3rem !important
    .homepage-item-inner-title
        font-size 55px !important
    .gid-card
        margin: 20px 0 !important
    .todo-list > li:before
        margin-right 20px
    .preloader .logo span,
    .brand
        font-size: 3rem !important
    .row-sm-direction
        flex-direction: column
    .steps
        & span
            margin-right 20px !important
            font-size 52px !important
    // .footer .info li:after
    //     display none
    .week li  
        margin: 10px !important
        padding: 10px 15px !important
