.homepage
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
.brand
    OpenH1ExtraBold()
    font-size 14rem
    color: white
    opacity: .5;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height 1
    transform: translate(-50%,-50%);
.background
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
    z-index: -1;
    transform-origin: right top;
    transition: all .5s cubic-bezier(.25,.46,.45,.94);
.credits
    OpenH4()
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 11px;
    color: secondaryLight;
    text-transform: uppercase;
    letter-spacing: .1em;
.homepage-item-wrapper
    display flex
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
.homepage-item:before,
.homepage-item:after
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: white;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: .5;
    pointer-events: none;
.homepage-item
    width: 33.33%;
    position: relative;
    overflow: hidden;
    &:before
        left: 0;
    &:after
        right: 0;
    & .title
        OpenH1ExtraBold()
        margin: 0;
        color: white
        text-transform: uppercase;
        letter-spacing: .05em;
        white-space: nowrap;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
.hidden-lines .homepage-item:before,
.hidden-lines .homepage-item:after
    opacity 0
.homepage-item-image
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0;
    transform-origin: left top;
    transform: scale(1.05);
    transition: all .5s cubic-bezier(.25,.46,.45,.94);
.homepage-item-inner
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
.homepage-item-inner-title
    OpenH1ExtraBold()
    font-size 75px
    color: white;
    margin: 0;
    top: 50%;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-transform uppercase
    opacity 0
.homepage-item-inner-subtext
    text-align center
    position: absolute;
    left: 50%;
    top: 80%;
    z-index: 8;
    transform: translate(-50%,-50%);
    width: 100%;
.homepage-item-inner-subtext-subtitle
    margin: 0 auto 3em;
    z-index: 1;
    letter-spacing: .03em;
    text-align: center;
    width: 100%;
    max-width: 350px;
    opacity 0
    & p  
        color: white;
        font-size 14px
a.homepage-item-inner-subtext-link
    font-size 18px
    display: inline-block;
    padding: .8em 3em .5em;
    text-transform: uppercase;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    letter-spacing: .05em;
    white-space: nowrap;
    color: white;
    opacity 0
    transition: all .5s cubic-bezier(.25,.46,.45,.94);
.homepage-mask-wrapper
    height: 100vh;
    position: relative;
    & svg 
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
.svg-text-home
    OpenH1ExtraBold()
    font-size 22rem
    
a.homepage-item-inner-subtext-link:hover {
    background-color: white;
    color: black !important
}

.scroll-to
    position: absolute
    bottom: 0
    left: 10%
    text-transform: uppercase
    z-index: 5
    font-size: 11px
    letter-spacing: 0.1em
    transform: rotate(-90deg)
    transform-origin: left
    color: white
    text-decoration: none
    & span
        display: inline-block
        width: 94px
        height: 1px
        background: white
        margin-right: 20px
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        transform-origin: right
    &:hover span
        transform: scaleX(0.3)

.preloader
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    pointer-events: none;
    user-select: none;
    transform-origin: left top;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    & .preloader-inner
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: left top;
        display: flex;
        transform: translateZ(0);
        overflow hidden
        & span 
            background: #151515;
            width: 33.333%;
            transform-origin: left top;
        & span#loader-big
            background: #151515;
            width: 100%;
            transform-origin: left top;
.preloader .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader .logo span {
    OpenH1ExtraBold()
    line-height 1
    font-size: 14rem;
    color: white;
}