.navbar 
    padding: 30px 0
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    & a
        BebasH5Book()

.navbar-light
    position: sticky;
    background-color: white;
    & a  
        color: black
    & .logo
        background-image url('../resourses/LogoBlackLabel.png')
    & svg .burger-line
        stroke: black

.navbar-dark 
    position: fixed;
    background-color transparent
    & a 
        color: white
    & .logo
        background-image url('../resourses/LogoWhiteLabel.png')
    & svg .burger-line
        stroke: white


.logo
    height 120px
    background-size: contain
    background-position: center
    background-repeat no-repeat

a.active-nav
    color: acsent