.navbar 
    padding: 30px 0
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: opacity 0.5s
    position relative
    & a
        BebasH5Book()
        
.navbar-bg-large > .navbar-inner
    top: 0
    height 160px
    position: fixed;
    background-color: white;
    & > div
        padding-top: 30px
.navbar-bg-large
    padding: 80px 0
    & a  
        color: black
    & .logo
        height 120px
        background-image url('../resourses/LogoBlackLabel.png')
    & svg .burger-line
        stroke: black

.navbar-bg-small > .navbar-inner
    position: fixed;
    background-color: white;
    top: 0
    height 100px
    & > div
        padding-top: 30px
.navbar-bg-small
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-bg-small-sticky > .navbar-inner
    top: 0
    height 100px
    position: fixed;
    background-color: white;
    & > div
        padding-top: 30px
.navbar-bg-small-sticky
    padding: 60px 0
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-bg-alt-small
    position: fixed;
    background-color: #E8EFFC;
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-black-large 
    position: fixed;
    background-color transparent
    & a 
        color: black
    & .logo
        background-image url('../resourses/LogoBlackLabel.png')
    & svg .burger-line
        stroke: black
.navbar-white-large 
    position: fixed;
    background-color transparent
    & a 
        color: white
    & .logo
        height 120px
        background-image url('../resourses/LogoWhiteLabel.png')
    & svg .burger-line
        stroke: white

.navbar-mobile > .navbar-inner
    top: 0
    height 80px
    padding: 0
    position: fixed;
    background-color: white;
    z-index 5
.navbar-mobile
    padding: 40px 0
    & a  
        color: black
        font-size 18px
    & .logo
        height 80px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black


.logo
    background-size: contain
    background-position: center
    background-repeat no-repeat

a.active-nav
    color: acsent

.mobile-nav
    display none
    position: fixed;
    top: -200px;
    background-color: white;
    transition: none
    z-index 1
    & li  
        opacity 0