.navbar 
    padding: 30px 0
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: opacity 0.5s
    & a
        BebasH5Book()
        
.navbar-bg-large
    position: sticky;
    background-color: white;
    & a  
        color: black
    & .logo
        height 120px
        background-image url('../resourses/LogoBlackLabel.png')
    & svg .burger-line
        stroke: black

.navbar-bg-small
    position: fixed;
    background-color: white;
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-bg-small-sticky
    position: sticky;
    background-color: white;
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-bg-alt-small
    position: fixed;
    background-color: #E8EFFC;
    & a  
        color: black
    & .logo
        height 40px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black

.navbar-black-large 
    position: fixed;
    background-color transparent
    & a 
        color: black
    & .logo
        background-image url('../resourses/LogoBlackLabel.png')
    & svg .burger-line
        stroke: black
.navbar-white-large 
    position: fixed;
    background-color transparent
    & a 
        color: white
    & .logo
        height 120px
        background-image url('../resourses/LogoWhiteLabel.png')
    & svg .burger-line
        stroke: white

.navbar-mobile
    padding: 0
    position: sticky
    background-color: white;
    & a  
        color: black
        font-size 18px
    & .logo
        height 80px
        background-image url('../resourses/LabelBlack.png')
    & svg .burger-line
        stroke: black


.logo
    background-size: contain
    background-position: center
    background-repeat no-repeat

a.active-nav
    color: acsent

.mobile-nav
    display none
    position: absolute;
    top: -200px;
    background-color: white;
    transition: none
    z-index 1
    & li  
        opacity 0