#partners-header
    background-image url('../resourses/Partners/header-image.jpg')
    & h2, p
        color: white

.category-name
    position relative
    overflow hidden
    & p  
        text-transform uppercase
    & :after
        content ' '
        display: inline-block;
        border: secondaryDark 1px solid;
        border-style: inset;
        margin-left: 20px;
        width: 100%;
        position: absolute;
        top: 45%;

.category-delimiter hr
    border-color: secondaryDark

.week li
    margin: 20px;
    padding: 20px 25px;
    border-radius: 50%;
    border: 1px solid;
    background-color: lightgreen;
    user-select none