.profile-image-small
    & img 
        height 80px
        border-radius: 50%
        object-fit: cover;

.profile-nav a 
    BebasH5Book()
    text-transform uppercase
    padding-bottom: 2px

a.profile-current
    border-bottom: 1px solid

.avatar-container
    background-color secondary
    & > img
        height 220px
        border-radius: 50%
        object-fit: cover

select.bordered
    border: 1px solid secondary
    padding: 10px !important
    color: black
    &::placeholder
        color: secondary