.profile-image-small
    width 80px
    height 80px
    & img 
        border-radius: 50%

.profile-nav a 
    BebasH5Book()
    text-transform uppercase
    padding-bottom: 2px

a.profile-current
    border-bottom: 1px solid

.avatar-container
    width 250px
    background-color secondary
    & > img
        border-radius: 50%

select.bordered
    border: 1px solid secondary
    padding: 10px !important
    color: black
    &::placeholder
        color: secondary