.border-box
    border: 1px solid black
    padding: 20px
    & .row
        margin-left 0
        margin-right 0

.data-box
    padding: 5px 15px
    border: 1px solid black

.reviews
    & > div
        border-bottom: 1px secondary solid
        padding: 40px 0
    & > div:last-child
        border: none