// COLORS

acsent = #41BFEF
acsentAlt = #FFBB00
secondary = #C4C4C4
secondaryLight = #E6EDF1
secondaryDark = #9B9B9B

// FONTS
@font-face
   font-family BebasNeue
   font-weight bold
   src url(../fonts/BebasNeueRegular.otf)

@font-face
   font-family BebasNeue
   font-weight lighter
   src url(../fonts/BebasNeueBook.ttf)

@font-face
   font-family OpenSans
   font-weight normal
   src url(../fonts/OpenSans.ttf)

@font-face
   font-family OpenSans
   font-weight lighter
   src url(../fonts/OpenSansLight.ttf)

@font-face
   font-family OpenSans
   font-weight bold
   src url(../fonts/OpenSansBold.ttf)

@font-face
   font-family OpenSans
   font-weight 900
   src url(../fonts/OpenSansExtraBold.ttf)

OpenH1ExtraBold()
	font-family: OpenSans
	font-weight: 900
	font-size: 45px
	line-height: 61px

OpenH1()
	font-family: OpenSans
	font-weight: normal
	font-size: 38px
	line-height: 52px

OpenH4()
	font-family: OpenSans
	font-weight: normal
	font-size: 18px
	line-height: 25px

OpenH4Bold()
	font-family: OpenSans
	font-weight: bold
	font-size: 18px
	line-height: 25px

OpenH1Light()
	font-family: OpenSans
	font-weight: lighter
	font-size: 38px
	line-height: 52px

OpenH1LightAlt()
	font-family: OpenSans
	font-weight: lighter
	font-size: 25px
	line-height: 34px

OpenH4Light()
	font-family: OpenSans
	font-weight: lighter
	font-size: 18px
	line-height: 25px

BebasH1()
	font-family: BebasNeue
	font-weight: bold
	font-size: 750px
	line-height: 879px

BebasH1Alt()
	font-family: BebasNeue
	font-weight: bold
	font-size: 600px
	line-height: 703px

BebasH2()
	font-family: BebasNeue
	font-weight: bold
	font-size: 288px
	line-height: 338px

BebasH3()
	font-family: BebasNeue
	font-weight: bold
	font-size: 72px
	line-height: 84px

BebasH4()
	font-family: BebasNeue
	font-weight: bold
	font-size: 38px
	line-height: 45px

BebasH5Book()
	font-family: BebasNeue
	font-weight: lighter
	font-size: 25px
	line-height: 29px

BebasH5()
	font-family: BebasNeue
	font-weight: bold
	font-size: 25px
	line-height: 29px

// DOPS

.text-center
	text-align: center

.text-right
	text-align: right

.justify-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.justify-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.justify-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.vh-100 {
  	padding-top: 35vh;
  	padding-bottom: 35vh;
}

.vh-50 {
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.upper {
	text-transform uppercase
}

.bold
	font-weight: bold

.underline
	border-bottom: acsent 1px solid

.secondary {
	color: secondary
}

.light-bg
    background-color secondaryLight

.acsent-alt-bg 
	background-color acsentAlt

.row-box-3>div
	margin-right: 1px

.acsent-box
	padding: 100px 50px
	background-color acsent
	& li
		color: white

.acsent-box-small
	padding: 50px 30px
	background-color acsent
	& h1 
		text-transform uppercase
	& li, h1
		color: white

.list-card
	margin-top: 100px
	margin-bottom: 100px

.list-card-pic
    height 300px

button.more-button
    OpenH4()
    border-bottom: 2px solid acsentAlt;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 50px;

.list-card:nth-child(odd) button.more-button
    border-bottom-color: acsent

.todo-list
    counter-reset: item;
    list-style-type: none;
.todo-list > li:before
	color: white
	content: counter(item);
	counter-increment: item;
	border-radius: 50%;
	height: 85px;
	width: 85px;
	margin-right: 40px;
	margin-bottom: 80px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
.todo-list > li:nth-child(1):before
	background-color #CAD5FD
.todo-list > li:nth-child(2):before
	background-color #FFBB00
.todo-list > li:nth-child(3):before
	background-color #00FFA3
.todo-list > li:nth-child(4):before
	background-color #41BFEF

.one-page
	height 100vh
	display flex
	align-items: center

.v-offset-small
	margin-top: 30px
.v-offset-mid
	margin-top 100px
.v-offset-large
	margin-top: 200px

.l-offset-small
	margin-left: 40px

.sticky
	position sticky
	top: 100px